<div>
  <div class="img-view-review">
    <div class="_72vr">
      <%= image_tag("icon-custommer.png",class: "img-custommer") %>
      <%= link_to rating.user.full_name, "#", class: "full_name" %>
      <span dir="ltr">
        <span class="_3l3x">
          <span class="content-css"><%= rating.content %></span>
        </span>
      </span>
    </div>
    <div>
      <ul class="_6coi _6qw9" data-testid="UFI2CommentActionLinks/root">
        <li class="_6coj">
          <span class="_6qw6" data-testid="UFI2ReactionLink/comment">
            <div class="_8c74 like-reply">
              <div id="like_rating_<%= rating.id %>">
                <% if @likerating = check_like(rating) %>
                  <%= render partial: "like_ratings/unlike_rating", colection: @likerating %>
                <% else %>
                  <%= render partial: "like_ratings/like_rating", locals: {rating_id: rating.id} %>
                <% end %>
              </div>
            </div>
          </span>
        </li>
      </ul>
    </div>
    <div class="_72vr color-star like-reply2">
      <% if rating.star == 1 %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% elsif rating.star == 2 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% elsif rating.star == 3 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% elsif rating.star == 4 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% elsif rating.star == 5 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
